@charset "UTF-08";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37, 37, 37);
    color: white;
}

header {

}

header > img {
    max-width: 180px;
    margin: 10px;
}

nav {
    text-align: right;
    display: inline;
    margin-left: auto;
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover {
    color: rgb(39, 39, 255);
    background-color: white;
}
